* {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  margin: 10px 15px 5px;
  height: 40px;
  align-items: center;
}

.nav-heading {
  padding-left: 10px;
}

.pages ul {
  display: flex;
  list-style-type: none;
}

.pages li {
  padding: 5px;
}

.pages button {
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

#add-new {
  border-right: 2px solid black;
  border-left: 2px solid black;
}

header {
  margin-top: 30px;
}

.heading {
  text-align: center;
}

.books-collection {
  display: none;
  justify-content: center;
  width: 100%;
}

.books-list {
  padding: 0;
  border: 2px solid black;
  width: 25%;
}

.books-list li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 7px;
}

.even {
  background-color: #ccd6e1;
}

.add-book {
  display: none;
  padding: 10px;
  justify-content: center;
}

.add-book input {
  margin: 5px;
  border: 2px solid black;
}

#add-btn {
  margin-top: 10px;
  margin-left: 140px;
  background: transparent;
  cursor: pointer;
}

.contact {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.conatct-description {
  margin-top: 30px;
}

.conatct-description ul {
  margin-top: 20px;
}

.footer {
  border: 2px solid black;
  display: flex;
  align-items: center;
  height: 40px;
  margin: 10px 15px 5px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}

.show {
  display: flex;
}

.btn-show {
  color: blue;
}

.date-time {
  text-align: end;
  padding-right: 15px;
  font-size: 14px;
}
